*/*::before,::after*/{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.none{
    display: none;
}
header{
    display: flex;
    flex-direction: column;
    gap: 150px;
    background-image: linear-gradient(to right, rgb(243, 117, 117), rgb(235, 26, 26));
    border-radius: 0 0 0 60px;
    height: 500px;
    padding-top: 50px;
}
header h1{
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
}
.menu-1 >p{
    color: #f1f1f1;
    font-family: sans-serif;
    text-align: center;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hbg{
    width: 30px;
    object-fit: cover;
}
img[alt="LOGO"]{
    width: 70px;
    object-fit: cover;
}
.header-content{
    display: flex;
    flex-direction: row;
}
.menu-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.btns button{
    border: 1px solid #fff;
    width: 120px;
    border-radius: 40px;
    color: #fff;
    padding: 10px;
    background-color: transparent;
}
.starting{
    border: 1px solid #fff;
    width: 120px;
    border-radius: 40px;
    background-color: #fff;
    color: rgb(225, 50, 50);
    padding: 10px;
}
.menu-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
    border: 1px solid #f2ecec;
    background-color: #f2ecec;
    border-radius: 5px;
    height: 400px;
    box-shadow: 0 4px 5px rgba(128, 128, 128, 0.481);
    position: relative;
    /*right: 200px;*/
    bottom: 100px;
    width: 300px;
    display: none;
}
.move{
    animation: move 500ms ease-in-out both;
}
@keyframes move{
    0%{
        right: 100px;
    }
    100%{
        right: 200px;
    }
}

.row{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 60px;

}

.row img{
    height: 10px;
    object-fit: cover;
    margin-top: 5px;
}
.row-connect{
    display: flex;
    flex-direction: column;  
}

.connect-content{
    display: flex;
    flex-direction: column;
    border: 1px solid #cec6c6b0;
    background-color: #cec6c6b0;
    padding: 10px 50px;
    border-radius: 10px;
    align-items: center;
    gap: 15px;
    color: #111;
    font-family: sans-serif;
    height: 100px;
    display: none;
}
.connect-content p{
    padding-left: 10px;
    padding-top: 5px;
}
.line{
    border: 1px solid #f1f1;
    background-color: #f1f1;
    border-radius: 10px;
    height: 2px;
    width: 200px;
    margin-top: 30px;
    
    
}
.menu-2>p{
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 60px;
    margin-left: 80px;
}

.menu-2 >button{
    color: #fff;
    border: 1px solid #fff;
    background-image: linear-gradient(to right, rgb(243, 117, 117), rgb(235, 26, 26));
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.introduction,.robust,.simple,.powerful{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container h1+img{
    width: 350px;
    object-fit: cover;
}
.state+img{
    width: 350px;
    object-fit: cover;
}
.robust{
    margin-top: 50px;
}
.container p{
    color: gray;
    
}
.container h1{
    font-family: sans-serif;
    color: #111;
}
.container h1, .container p{
    text-align: center;
}
.robust + img{
    width: 350px;
    object-fit: cover;
    transform: translateY(200px);
}
.state{
    border: 1px solid rgba(1, 1, 19, 0.614);
    background-color: rgba(1, 1, 19, 0.614);
    padding-top: 250px;
    padding-bottom: 20px;
    background-image: url('images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: -30px -50px;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 70px 0 70px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}
.state h1{
    color: #fff;
}
.state p{
    color: #f1f1f1;
}
.container h1, .container h2{
    text-align: center;
    font-family: sans-serif;
}

footer{
    border: 1px solid #000001f4;
    border-radius: 0 50px 0 0;
    background-color: #000001f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px 60px;
    margin-top: 60px;
}
footer p{
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
}
.product,.cpny,.connect{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer li{
    list-style: none;
    text-align: center;
}
footer a{
    text-align: center;
    text-decoration: none;
    color: #f1f1f1cd;
    font-family: sans-serif;
}
.header-desktop,.container-desktop,.footer-desktop{
    display: none;
}
button{
    cursor: pointer;
    transition: transform 250ms;
}
button:hover{
    transform: scale(1.05);
}
@media screen and (min-width:767px) and (max-width:769px){
    .menu-1{
        margin-left: 200px;
    }
    
}
@media screen and (min-width: 900px){
    header{
        display: none;
    }
    footer{
        display: none;
    }
    .header-desktop{
        display: flex;
        flex-direction: column;
        border: 1px solid #fff;
        background:  linear-gradient(to right, rgb(243, 117, 117), rgb(235, 26, 26));
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 0 0 60px;
        padding: 50px;
        height: 500px;
        z-index: 1;
        display: block;
    }
    .line-des{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .log-des{
        display: flex;
        flex-direction: row;
        gap: 30px;
       
    }
    .log-des .row{
        display: flex;
        gap: 7px;
    }
    .log-des .row p{
        color: #fff;
    }
    .log-des >img{
        padding-top: 5px;
    }
    /*.header-desktop .connect-content{
       
        /*display: none;
       
    }*/
    .sign{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-top: 15px;
    }
    .sign p{
        color: #f1f1f1;
        font-family: sans-serif;
    }
    .sign button{
        border: 1px solid #fff;
        background-color: #f1f1f1;
        color: rgb(243, 117, 117);
        width: 120px;
        border-radius: 50px;
        transform: translateY(-5px);
    }
    .col h1{
        font-family: sans-serif;
        font-size: 40px;
        color: #f1f1f1;
        text-align: center;
    }
    .col p{
        text-align: center;
        color: #f1f1f1;
    }
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-top: 30px;
        transform: translateY(-50px);
        position: sticky;
    }
    .btns{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .container{
        display: none;
    }
    .container-desktop{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        gap: 50px;
    }
    .intro-robust{
        display: flex;
        flex-direction: row;
        gap: 35px;
    }
    .intro-robust img{
        width: 600px;
        object-fit: cover;
    }
    .text{
        display: flex;
        flex-direction: column;
        gap: 45px;
        margin-top: 150px;
    }
    .text-1{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .text-1 h2{
        font-family: sans-serif;
        font-weight: 500;
    }
    .text-1 p{
        font-family: sans-serif;
        color: gray;
    }
    .phones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        border: 1px solid rgb(15, 15, 69);
        border-radius: 0 60px 0 60px;
        background-color: rgb(15, 15, 69);
        background-image: url('images/bg-pattern-circles.svg');
        background-size: cover;
        background-repeat: no-repeat;
        gap: 30px;
        width: 100%;
        height: 330px;
        transform: translateY(-500px);
    }
    .intro-robust+img{
        transform: translate(-300px,20px);
        width: 500px;
        z-index: 100;
        object-fit: cover;
    }
    
    .phones-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 650px;
        gap: 20px;
    }
    .phones-text h2{
        font-family: sans-serif;
        color: #fff;
    }
    .phones-text p{
        color: gray;
        font-family: sans-serif;
    }
    .computer{
        display: flex;
        flex-direction: row;
        gap: 60px;
        transform: translateY(-260px);
    }
    .computer img{
        width: 700px;
        object-fit: cover;
    }
    .pc-text{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 100px;
    }
    .pc-1{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .pc-1 h1{
        font-family: sans-serif;
    }
    .pc-1 p{
        color: gray;
        font-family: sans-serif;
    }
    .footer-desktop{
        display: block;
        border: 1px solid #000001f4;
        background-color: #000001f4;
        border-radius: 0 60px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 200px;
        padding: 30px 60px;
        width: 100%;
    }
    .footer-desktop img{
        height: 50px;
        object-fit: cover;
    }
    .foot-col{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    li{
        list-style: none;
    }
    .footer-desktop a{
        color: #f1f1f1;
        font-family: sans-serif;
        color: gray;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    .footer-desktop p{
        color: #fff;
        font-family: sans-serif;
        font-weight: 500;
    }
    .container-desktop>h1{
        font-family: sans-serif;
    }
}
.desktop-line{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.cpny-des{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.cpny-des .row{
    display: flex;
    gap: 10px;
}
.cpny-des .row-connect{
    display: flex;
    flex-direction: column;
}
.cpny-des .connect-content{
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);;
    z-index: 100;
    width: 150px;
    visibility: hidden;
}
.computer h2{
    font-family: sans-serif;
}
.cpny-des .connect-content p{
    cursor: pointer;
}
.cpny-des .connect-content p:hover{
    font-weight: 700;
}
.desktop-line>img{
    height: 40px;
    object-fit: cover;
    transform: translateY(10px);
}
.desktop-line .btns{
    display: flex;
    flex-direction: row;
    gap: 20px;
    transform: translate(400px,20px);
}
.desktop-line .btns button{
    height: 40px;
    text-align: center;
    transform: translateY(-10px);
}
.desktop-line .row p{
    color: #f1f1f1;
}

.row{
    cursor: pointer;
}
.desktop-line .row p:hover{
    text-decoration: underline;
}
.btns p{
    color: #f1f1f1;
}
